@font-face {
    font-family: 'robotolight';
    src: url('font/Roboto-Light-webfont.eot');
    src: url('font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Light-webfont.woff2') format('woff2'),
         url('font/Roboto-Light-webfont.woff') format('woff'),
         url('font/Roboto-Light-webfont.ttf') format('truetype'),
         url('font/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main */

body {
    font-family: 'robotolight', 'Trebuchet MS', Arial, sans-serif;
    color: #545E6C;
    background: #EEE;
    font-size: .95em;
    padding-top: 75px;
    width: 70%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 200px;
    box-shadow: 4px 4px 6px silver;
}

/* Side Wrapper */

#side-wrapper {
    background: #455A64;
    color: #FFF;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1.2;
}

#side-wrapper h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    background-color: #E3CB0B;
    color: #455A64;
}

#side-wrapper .picture-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-wrapper .picture-container .picture {
    border-radius: 100%;
    height: 160px;
    width: 160px;
}

#side-wrapper .contact-container ul {
    list-style-type: none;
    padding-right: 20px;
    text-align: right;
}

#side-wrapper .contact-container .fas,
#side-wrapper .contact-container .fab {
    margin-left: 10px;
    font-size: 1.4em;
}

#side-wrapper .contact-container li {
    margin-bottom: 15px;
}

#side-wrapper .contact-container .phone {
    padding-right: 5px;
}

#side-wrapper .contact-container a {
    text-decoration: none;
    color: #FFF;
}

#side-wrapper .contact-container a:hover {
    text-decoration: underline;
    font-style: oblique;
}

#side-wrapper .about-container {
    margin-top: 50px;
}

#side-wrapper .about-container p {
    text-align: justify;
    padding: 5px 20px;
}

#side-wrapper .hobby-container {
    text-align: center;
    margin-top: 250px;
}

#side-wrapper .hobby-container img {
    height: 75px;
    width: 75px;
}

/* Main Wrapper */

#main-wrapper {
    background: #FFF;
    flex: 3;
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 50px;
}

#main-wrapper .details {
    height: 140px;
    padding-top: 60px;
}

#main-wrapper .details h1 {
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: -12px;
}

#main-wrapper .details .first-name {
    color: #E3CB0B;
    font-weight: 900;
}

#main-wrapper .details h3 {
    margin-bottom: 3px;
}

#main-wrapper .details .small-border {
    width: 50px;
    height: 2px;
    background-color: #E3CB0B;
}

#main-wrapper .main-info .title-icons {
    color: #E3CB0B;
    margin-right: 20px;
}

#main-wrapper article h2 {
    border-bottom: 2px solid #E3CB0B;
    text-transform: uppercase;
}

#main-wrapper .item {
    display: flex;
}

#main-wrapper .item .period {
    font-size: .9em;
    width: 120px;
    flex-wrap: wrap;
    margin-left: -3px;
}

#main-wrapper .item .area {
    color: #AAA;
    font-style: oblique;
}

#main-wrapper .item .description {
    width: 90%;
    margin-left: 30px;
    margin-top: -6px;
}

#main-wrapper .item .listing {
    display: flex;
    margin-top: -20px;
}

#main-wrapper .item .far,
#main-wrapper .item .fas {
    color: #E3CB0B;
    margin-left: -10px;
    margin-top: 2px;
}

#main-wrapper .item h4 {
    margin-bottom: -20px;
}

#main-wrapper .item h5 {
    font-size: 1em;
    font-weight: 500;
    color: #888;
    margin-bottom: -5px;
}

#main-wrapper article .reference {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-wrapper article .reference-details {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#main-wrapper article .reference-details-1 {
    margin-right: 20px;
}

#main-wrapper article .reference-details-2 {
    margin-right: 20px;
}

@media all and (max-width: 600px) {
    body {
        width: auto;
        padding-top: 0px;
    }

    #main-wrapper {
        padding-left: 40px;
    }

    #main-wrapper article h2 {
        margin-top: 50px;
    }

    #main-wrapper .item {
        flex-direction: column;
    }

    #main-wrapper .item .period {
        width: auto;
    }

    #main-wrapper article .reference-details {
        text-align: center;
    }
}

@media all and (min-width: 601px) and (max-width: 900px) {
    #main-wrapper .item {
        flex-direction: column;
    }

    #main-wrapper .item .period {
        width: auto;
    }
    #main-wrapper article .reference-details {
        text-align: center;
    }
}
