@font-face {
    font-family: "robotolight";
    src: url("font/Roboto-Light-webfont.eot");
    src: url("font/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"),
        url("font/Roboto-Light-webfont.woff2") format("woff2"),
        url("font/Roboto-Light-webfont.woff") format("woff"),
        url("font/Roboto-Light-webfont.ttf") format("truetype"),
        url("font/Roboto-Light-webfont.svg#robotolight") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "robotolight", "Trebuchet MS", Arial, sans-serif;
    color: #545e6c;
    font-size: 0.95em;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

/* Side wrapper*/

#side-wrapper {
    background: #455a64;
    color: #fff;
}

#side-wrapper h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    background-color: #e3cb0b;
    color: #455a64;
}

#side-wrapper .picture-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-wrapper .picture-container .picture {
    border-radius: 100%;
    height: 160px;
    width: 160px;
}

#side-wrapper .contact-container ul {
    list-style-type: none;
    padding-right: 10px;
    text-align: right;
    display: inline;
}

#side-wrapper .contact-container .fas,
#side-wrapper .contact-container .fab {
    margin-left: 10px;
    margin-right: 15px;
    font-size: 1.4em;
}

#side-wrapper .contact-container li {
    margin-bottom: 15px;
}

#side-wrapper .contact-container .phone {
    padding-right: 5px;
}

#side-wrapper .contact-container a {
    text-decoration: none;
    color: #fff;
}

#side-wrapper .contact-container a:hover {
    text-decoration: underline;
    font-style: oblique;
}

#side-wrapper .about-container {
    margin-top: 50px;
}

#side-wrapper .about-container p {
    text-align: justify;
    padding: 5px 20px;
}

#side-wrapper .hobby-container {
    margin-top: 50px;
    text-align: center;
}

#side-wrapper .hobby-container img {
    height: 72px;
    width: 72px;
}

/* Main wrapper */

#main-wrapper {
    padding: 0 6vw;
}

#main-wrapper .details {
    height: 140px;
    padding-top: 40px;
}

#main-wrapper .details h1 {
    text-transform: uppercase;
    margin-bottom: -12px;
    font-size: 1.5rem;
}

#main-wrapper .details .first-name {
    color: #e3cb0b;
    font-weight: 900;
}

#main-wrapper .details h3 {
    margin-bottom: 3px;
}

#main-wrapper .details .small-border {
    width: 50px;
    height: 2px;
    background-color: #e3cb0b;
}

#main-wrapper .main-info {
    margin-top: -30px;
}

#main-wrapper .main-info .title-icons {
    color: #e3cb0b;
    margin-right: 20px;
}

#main-wrapper article h2 {
    border-bottom: 2px solid #e3cb0b;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 50px;
}

#main-wrapper .item .period {
    font-size: 0.95rem;
    margin-left: -3px;
    margin-top: 25px;
}

#main-wrapper .item .area {
    color: #888;
    font-style: oblique;
}

#main-wrapper .item .description {
    margin-left: 30px;
}

#main-wrapper .item .far,
#main-wrapper .item .fas {
    color: #e3cb0b;
    margin-left: -10px;
    margin-top: 2px;
}

#main-wrapper .item h4 {
    margin-bottom: -20px;
}

#main-wrapper .item h5 {
    font-size: 1em;
    font-weight: 500;
    color: #666;
    margin-bottom: -5px;
}

#main-wrapper .listing .listing-part2 {
    margin-top: -13px;
}

#main-wrapper article .reference-details {
    text-align: center;
}

#main-wrapper .reference .reference-details-1 {
    word-wrap: break-word;
}

#main-wrapper .reference .reference-details-3 {
    margin-bottom: 40px;
}

@media only screen and (min-width: 1080px) {
    body {
        width: 75%;
        background: #eee;
        padding-top: 80px;
        margin: auto;
    }

    #wrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 200px;
        box-shadow: 4px 4px 6px silver;
    }

    #side-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1.2;
        min-width: 280px;
    }

    #side-wrapper h2 {
        font-size: 1.3rem;
    }

    #main-wrapper {
        background: #fff;
        flex: 3.5;
    }

    #main-wrapper .details h1 {
        font-size: 2.1em;
    }

    #main-wrapper .details h3 {
        font-size: 1.3rem;
    }

    #main-wrapper article h2 {
        font-size: 1.4rem;
    }

    #main-wrapper .item {
        display: flex;
    }

    #main-wrapper .item .description {
        width: 90%;
        margin-left: 30px;
        margin-top: -6px;
    }

    #main-wrapper .item .period {
        font-size: 0.9em;
        width: 120px;
        margin-top: 2px;
    }

    #main-wrapper article .listing {
        display: flex;
    }

    #main-wrapper .listing .listing-part2 {
        margin-top: 13px;
    }

    #main-wrapper article .reference {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px;
    }
}
